!! ██╗  ██╗██████╗ ███████╗███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗███████╗
!! ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝██╔════╝
!!  ╚███╔╝ ██████╔╝█████╗  ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗  ███████╗
!!  ██╔██╗ ██╔══██╗██╔══╝  ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝  ╚════██║
!! ██╔╝ ██╗██║  ██║███████╗███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗███████║
!! ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝

!!!!!!!!!!!!!!!!!!!
!! SET VARIABLES !!
!!!!!!!!!!!!!!!!!!!
#define FONT Iosevka Nerd Font Mono
#define FONT_SIZE 10
#define PADDING 15

!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! SOURCE TERMINAL COLORS !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#include "/home/locke/.config/xorg/themes/nord"
#define COLORSCHEME nord

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! SOURCE PROGRAM SPECIFIC FILES !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#include "/home/locke/.config/urxvt/urxvtrc"
#include "/home/locke/.config/rofi/rofirc"
